<%= form_for @content, html: {class: "form-horizontal"} do |f| %>
  <% if @content.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@content.errors.count, "error") %> prohibited this content from being saved:</h2>

      <ul>
      <% @content.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
    <%= f.text_area :title, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :body, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
    <%= f.text_area :body, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :order, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
    <%= f.number_field :order, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :page, "Page *", class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
    <%= f.select :page, options_for_select([['About Gather', 'About Gather'], ['About Using Gather', 'About Using Gather'], ['About Becoming a Gather Artist', 'About Becoming a Gather Artist']], @content.page), {:prompt => "Please select"}, class: 'form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :submit, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
    <%= f.submit class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>
