<!-- Content Block
============================================-->
<section class="content-block default-bg">

  <!-- Container -->
  <div class="container cont-pad-t-sm">

    <!-- Row -->
    <div class="row">

      <!-- Main Col -->
      <div class="main-col col-sm-9 col-md-9 mgb-30-xs">
        <h4>Items</h4>
        <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">All</h4>
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Title</th>
                  <th>Body</th>
                  <th>Order</th>
                  <th>Page</th>
                  <th colspan="3"></th>
                </tr>
              </thead>

              <tbody>
                <% @contents.each do |content| %>
                  <tr>
                    <td><%= content.title %></td>
                    <td><%= content.body %></td>
                    <td><%= content.order %></td>
                    <td><%= content.page %></td>
                    <td><%= link_to 'Show', content %></td>
                    <td><%= link_to 'Edit', edit_content_path(content) %></td>
                    <td><%= link_to 'Destroy', content, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <br>

            <%= link_to 'New Content', new_content_path %>
          </div>
        </div>
              
      </div>
      <!-- /Main Col -->
      
      <%= render "pages/admin_side_bar" %>

    </div>
    <!-- /Row -->
  
  </div>
  <!-- /Container -->
  
</section>
<!-- /Content Block
============================================-->