<!-- Empty Block (use .abs-filler to fill page)
================================================== -->
<div class="empty-block abs-filler">
  <!-- Vcenter -->
  <div class="vcenter">
    <div class="vcenter-this">
      <!-- Container -->
      <div class="container">
        <!-- Form Panel -->
        <div class="form-panel width-40pc width-100pc-xs hcenter">
          <header>Sign Up</header>
          <fieldset>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: {class: "form-horizontal"} ) do |f| %>
              <%= devise_error_messages! %>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                <%= f.text_field :username, autofocus: true, class: "form-control", placeholder: "Enter your username" %>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-user"></i></div>
              <%= f.email_field :email, class: "form-control", placeholder: "Enter your email" %>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-lock"></i></div>
              <% if @validatable %>
              <% end %>
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Enter your password (8 char min)" %>
              </div>
            </div>

            <div class="form-group">
              <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-lock"></i></div>
              <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Enter your password again" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.submit "Sign up", class: "btn btn-default btn-block" %>
              </div>
            </div>
          <% end %>
          </fieldset>
        </div>
        <div class="align-center">Already have an Account?  <%= render "devise/shared/links" %></div>
      </div>
      <!-- /Container -->
    </div>
    <!-- /Vcenter this -->
  </div>
  <!-- /Vcenter -->
</div>
<!-- /Empty Block
================================================== -->


