<%= render 'top_info_block' %>

<!-- Content Block
============================================-->
<section class="content-block default-bg">

  <!-- Container -->
  <div class="container no-pad-t">

    <!-- Row -->
    <div class="row">

      <!-- Main Col -->
      <div class="main-col col-sm-8 col-md-8 mgb-30-xs">
      
        <h4>Artist Profile</h4>
        <p>Some text about setting-up an Artist profile.</p>
        
        <!-- Accordion -->
           
          <%= render 'form' %>

					<%= link_to 'Show', @artist %> |
					<%= link_to 'Back', artists_path %>

        <!-- /Accordion -->
        
      </div>
      <!-- /Main Col -->

			<%= render 'side_bar' %>
		
		</div>
    <!-- /Row -->
  
  </div>
  <!-- /Container -->
  
</section>
<!-- /Content Block
============================================-->

<%= render 'info_block' %>
