<!-- Intro Block
============================================-->
<section class="intro-block intro-page boxed-section page-bg overlay-dark">

  <!-- Container -->
  <div class="container">     
    <!-- Section Title -->
    <div class="section-title invert-colors no-margin-b">
      <h2>Gather Artists</h2>
      <p class="hidden-xs">Helena is a freelance fashion house specialiasing in print designs and combining fabrics. Our stores can be found all over the world.</p>
    </div>
    <!-- /Section Title -->
  </div>
  <!-- /Container -->

</section>
<!-- /Intro Block
============================================-->

<!-- Page Info Block
============================================-->
<section class="page-info-block boxed-section">

  <!-- Container -->
  <div class="container cont-pad-x-15"> 

    <!-- Breadcrumb -->
    <ol class="breadcrumb pull-left">
      <li><a href="#"><i class="ti ti-home"></i></a></li>
      <li><a href="#">Artists</a></li>
      <li class="active">All</li>
    </ol>
    <!-- /Breadcrumb --> 

    <!-- hlinks -->
    <ul class="page-links pull-right hlinks hlinks-icons color-icons-borders color-icons-bg-hovered">
      <li><a href="#"><i class="icon fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="icon fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="icon fa fa-rss"></i></a></li>
    </ul>
    <!-- /hlinks -->

  </div>
  <!-- /Container -->

</section>
<!-- /Page Info  Block
============================================-->

<!-- Content Block
============================================ -->
<section class="content-block default-bg">

  <!-- Container -->
  <div class="container cont-main no-pad-t">
  
    <!-- Row -->
    <div class="row">

      <!-- Main Col -->
      <div class="main-col col-sm-9 col-md-9">
      
        <!-- Products Filter -->
        <div class="products-filter clearfix">
          <div class="display">
            <span class="show-list" onclick="changeView('list')"><span class="text hidden-xs">List</span><i class="icon fa fa-th-list"></i></span>
            <span class="show-grid" onclick="changeView('grid')"><span class="text hidden-xs">Grid</span><i class="icon fa fa-th"></i></span>
          </div>

          <div class="filter"><b class="hidden-xs">No</b>
            <select>
            <option value="9" selected="selected">9</option>
            <option value="12">12</option>
            <option value="15">15</option>
            <option value="18">18</option>
            </select>
          </div>
          
          <div class="filter"><b class="hidden-xs">Sort By</b>
            <select>
            <option value="9" selected="selected">Date</option>
            <option value="12">Price</option>
            <option value="15">Popularity</option>
            </select>
          </div>
        
        </div>
        <!-- /Products Filter -->
      
        <!-- Row -->
        <div class="product-grid row grid-20 mgb-20">
          
          <% @artists.each do |artist| %>
          <!-- Col -->
          <div class="col-sm-6 col-md-4">
          
            <!-- product -->
            <div class="product clearfix">
            
              <!-- Image -->
              <div class="image"> 
                <td><%= image_tag artist.image, class: "img-circle", alt: "" %></td>
                <ul class="additional">
                  <% artist.items.take(4).each do |item| %>
                  <li><%= image_tag item.image_1.try(:thumb) %></li>
                  <% end %>
                </ul>
              </div>
              <!-- Image -->
              
              <!-- Details -->
              <div class="details">
              
                <a class="title" href="product.html"><%= artist.primary_identifier %></a>
                
                <p class="desc"><%= artist.artist_statement %></p>
                
                <!-- Price Box -->
                <div class="price-box">
                  <span class="price"><%= artist.studio_city %>, <%= artist.studio_state %></span>
                </div>
                <!-- /Price Box -->
                
                <!-- buttons -->
                <div class="btn-group">
                  <%= link_to "See Artist Gallery", artist_path(artist.id), class: "btn btn-outline btn-base-hover" %> 
                  <a class="btn btn-outline btn-default-hover" href="product.html"><i class="icon fa fa-heart"></i></a>
                </div> 
                <!-- /buttons -->
                
              </div>
              <!-- /Details -->
              
            </div>
            <!-- /product -->
          
          </div>
          <!-- /Col -->
          <% end %>

        </div>
        <!-- /Row -->
        
        <!-- Pagination -->
        <ul class="pagination">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
        <!-- /Pagination -->
        
      </div>
      <!-- /Main Col -->
      
      <%= render "side_bar" %>

    </div>
    <!-- /Row -->
  
  </div>
  <!-- /Container -->
  
</section>
<!-- /Content Block
============================================-->