<!-- Intro Block
============================================-->
<section class="intro-block intro-page boxed-section page-bg overlay-dark">

  <!-- Container -->
  <div class="container">     
    <!-- Section Title -->
    <div class="section-title invert-colors no-margin-b">
      <h2>category title</h2>
      <p class="hidden-xs">Helena is a freelance fashion house specialiasing in print designs and combining fabrics. Our stores can be found all over the world.</p>
    </div>
    <!-- /Section Title -->
  </div>
  <!-- /Container -->

</section>
<!-- /Intro Block
============================================-->

<!-- Page Info Block
============================================-->
<section class="page-info-block boxed-section">

  <!-- Container -->
  <div class="container cont-pad-x-15"> 

    <!-- Breadcrumb -->
    <ol class="breadcrumb pull-left">
      <li><a href="#"><i class="ti ti-home"></i></a></li>
      <li><a href="#">Pages</a></li>
      <li class="active">features</li>
    </ol>
    <!-- /Breadcrumb --> 

    <!-- hlinks -->
    <ul class="page-links pull-right hlinks hlinks-icons color-icons-borders color-icons-bg-hovered">
      <li><a href="#"><i class="icon fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="icon fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="icon fa fa-rss"></i></a></li>
    </ul>
    <!-- /hlinks -->

  </div>
  <!-- /Container -->

</section>
<!-- /Page Info  Block
============================================-->

<!-- Content Block
============================================ -->
<section class="content-block default-bg">

  <!-- Container -->
  <div class="container cont-main no-pad-t">
  
    <!-- Row -->
    <div class="row">

      <!-- Main Col -->
      <div class="main-col col-sm-9 col-md-9">
      
        <!-- Products Filter -->
        <div class="products-filter clearfix">
          <div class="display">
            <span class="show-list" onclick="changeView('list')"><span class="text hidden-xs">List</span><i class="icon fa fa-th-list"></i></span>
            <span class="show-grid" onclick="changeView('grid')"><span class="text hidden-xs">Grid</span><i class="icon fa fa-th"></i></span>
          </div>

          <div class="filter"><b class="hidden-xs">No</b>
            <select>
            <option value="9" selected="selected">9</option>
            <option value="12">12</option>
            <option value="15">15</option>
            <option value="18">18</option>
            </select>
          </div>
          
          <div class="filter"><b class="hidden-xs">Sort By</b>
            <select>
            <option value="9" selected="selected">Date</option>
            <option value="12">Price</option>
            <option value="15">Popularity</option>
            </select>
          </div>
        
        </div>
        <!-- /Products Filter -->
      
        <!-- Row -->
        <div class="product-grid row grid-20 mgb-20">
          
          <% @artists.each do |artist| %>
          <!-- Col -->
          <div class="col-sm-6 col-md-4">
          
            <!-- product -->
            <div class="product clearfix">
            
              <!-- Image -->
              <div class="image"> 
                <td><%= image_tag artist.image, class: "main", alt: "" %></td>
                <ul class="additional">
                  <li><a href="images/products/product1.jpg" data-gal="prettyPhoto[gallery 1]" title="Product Name"><img src="images/products/product1.jpg" alt=""></a></li>
                  <li><a href="images/products/product1.jpg" data-gal="prettyPhoto[gallery 1]" title="Product Name"><img src="images/products/product1.jpg" alt=""></a></li>
                  <li><a href="images/products/product1.jpg" data-gal="prettyPhoto[gallery 1]" title="Product Name"><img src="images/products/product1.jpg" alt=""></a></li>
                  <li><a href="images/products/product1.jpg" data-gal="prettyPhoto[gallery 1]" title="Product Name"><img src="images/products/product1.jpg" alt=""></a></li>
                </ul>
              </div>
              <!-- Image -->
              
              <span class="label label-sale">sale</span>
              
              <!-- Details -->
              <div class="details">
              
                <a class="title" href="product.html"><%= artist.primary_identifier %></a>
                
                <p class="desc"><%= artist.artist_statement %></p>
                
                <!-- Price Box -->
                <div class="price-box">
                  <span class="price"><%= artist.studio_city %>, <%= artist.studio_state %></span>
                </div>
                <!-- /Price Box -->
                
                <!-- buttons -->
                <div class="btn-group">
                  <%= link_to "See Artist Gallery", artist_path(artist.id), class: "btn btn-outline btn-base-hover" %> 
                  <a class="btn btn-outline btn-default-hover" href="product.html"><i class="icon fa fa-heart"></i></a>
                </div> 
                <!-- /buttons -->
                
              </div>
              <!-- /Details -->
              
            </div>
            <!-- /product -->
          
          </div>
          <!-- /Col -->
          <% end %>
          
          <!-- Col -->
          <div class="col-sm-6 col-md-4">
          
            <!-- product -->
            <div class="product clearfix">
            
              <!-- Image -->
              <div class="image"> 
                <a href="product.html" class="main"><img src="images/products/product2.jpg" alt=""></a>
                <ul class="additional">
                  <li><a href="images/products/product2.jpg" data-gal="prettyPhoto[gallery 2]" title="Product Name"><img src="images/products/product2.jpg" alt=""></a></li>
                  <li><a href="images/products/product2.jpg" data-gal="prettyPhoto[gallery 2]" title="Product Name"><img src="images/products/product2.jpg" alt=""></a></li>
                  <li><a href="images/products/product2.jpg" data-gal="prettyPhoto[gallery 2]" title="Product Name"><img src="images/products/product2.jpg" alt=""></a></li>
                  <li><a href="images/products/product2.jpg" data-gal="prettyPhoto[gallery 2]" title="Product Name"><img src="images/products/product2.jpg" alt=""></a></li>
                </ul>
              </div>
              <!-- Image -->
              
              <!-- Details -->
              <div class="details">
              
                <a class="title" href="product.html">Black lase blouse</a>
                
                <p class="desc">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates.</p>
                
                <!-- Price Box -->
                <div class="price-box">
                  <span class="price">$2600</span>
                </div>
                <!-- /Price Box -->
                
                <!-- buttons -->
                <div class="btn-group">
                  <a class="btn btn-outline btn-base-hover" href="cart.html">add to cart</a>  
                  <a class="btn btn-outline btn-default-hover" href="product.html"><i class="icon fa fa-heart"></i></a>
                </div> 
                <!-- /buttons -->
                
              </div>
              <!-- /Details -->
              
            </div>
            <!-- /product -->
          
          </div>
          <!-- /Col -->

        </div>
        <!-- /Row -->
        
        <!-- Pagination -->
        <ul class="pagination">
          <li><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
        <!-- /Pagination -->
        
      </div>
      <!-- /Main Col -->
      
      <!-- Side Col -->
      <div class="side-col col-sm-3 col-md-3">

        <!-- Side Widget -->
        <div class="side-widget no-margin-l">
        
          <h5 class="boxed-title">sub categories</h5>
          
          <!-- ul-toggle -->
          <ul class="ul-toggle font-size-sm">
            <li><a href="#"><i class="icon fa fa-angle-right"></i>Handbags</a><i class="toggler ti ti-plus"></i>
              <ul>
                <li><a href="#"><i class="icon fa fa-angle-right"></i>Dresses</a></li>
                <li><a href="#"><i class="icon fa fa-angle-right"></i>Shoes</a></li>
                <li><a href="#"><i class="icon fa fa-angle-right"></i>Sun Glasses</a></li>
              </ul>
            </li>
            <li><a href="#"><i class="icon fa fa-angle-right"></i>Shoes</a><i class="toggler ti ti-plus"></i>
              <ul>
                <li><a href="#"><i class="icon fa fa-angle-right"></i>Dresses</a></li>
                <li><a href="#"><i class="icon fa fa-angle-right"></i>Shoes</a></li>
                <li><a href="#"><i class="icon fa fa-angle-right"></i>Sun Glasses</a></li>
              </ul>
            </li>
            <li><a href="#"><i class="icon fa fa-angle-right"></i>Dresses</a><i class="toggler ti ti-plus"></i>
              <ul>
                <li><a href="#"><i class="icon fa fa-angle-right"></i>Dresses</a></li>
                <li><a href="#"><i class="icon fa fa-angle-right"></i>Shoes</a></li>
                <li><a href="#"><i class="icon fa fa-angle-right"></i>Sun Glasses</a></li>
              </ul>
            </li>
            <li><a href="#"><i class="icon fa fa-angle-right"></i>Sun Glasses</a></li>
            <li><a href="#"><i class="icon fa fa-angle-right"></i>Hair Products</a></li>
          </ul>
          <!-- /ul-toggle -->
    
        </div>
        <!-- /Side Widget -->
        

        
        <!-- Side Widget -->
        <div class="side-widget no-margin-l">
        
          <h5 class="boxed-title">price filter</h5>
          
          <!-- Price Range Form -->
          <form class="side-form-panel">
            <label>Min Price</label>
            <div class="form-group slider-group">
              <div class="slider-ctrl" data-call="jui-slider" data-target="#min1" data-options="{min:0, max:1000, value:500}"></div>
              <input id="min1" class="form-control" value="500" type="text">
            </div>              
            <label>Max Price</label>
            <div class="form-group slider-group">
              <div class="slider-ctrl" data-call="jui-slider" data-target="#max1" data-options="{min:0, max:1000, value:500}"></div>
              <input id="max1" class="form-control" value="500" type="text">
            </div>  
            <button class="btn btn-outline btn-block">submit</button>
          </form>
          <!-- /Price Range Form -->
        
        </div>
        <!-- /Side Widget -->

      </div>
      <!-- /Side Col -->

    </div>
    <!-- /Row -->
  
  </div>
  <!-- /Container -->
  
</section>
<!-- /Content Block
============================================-->

<!-- Info Block
============================================ -->
<div class="info-block page-bg overlay-dark boxed-section">

  <!-- Container -->
  <div class="container">
  
    <!-- Row -->
    <div class="row">
      <!-- Col -->
      <div class="col-md-3 hidden-xs hidden-sm">
        <span class="text case-u"><i class="ti ti-comments icon-left"></i>live chat</span>
      </div>
      <!-- Col -->
      
      <!-- Col -->
      <div class="col-md-6">
        <span class="text case-u align-center">enjoy free <a href="#">delivery</a> for any <a href="#">orders</a> within the city</span>
      </div>
      <!-- Col -->
      
      <!-- Col -->
      <div class="col-md-3 hidden-xs hidden-sm">
        <span class="text case-u pull-right"><i class="ti-headphone-alt icon-left"></i><b class="visible-lg-inline">support : </b>+(254) 560 400 333</span>
      </div>
      <!-- /Col -->
      
    </div>
    <!-- /Row -->
  </div>
  <!-- /Container -->

</div>
<!-- /Info Block
=================================================== -->