<!-- Page Info Block
============================================-->
<section class="page-info-block boxed-section">

  <!-- Container -->
  <div class="container cont-pad-x-15"> 

    <!-- Breadcrumb -->
    <ol class="breadcrumb pull-left">
      <li><a href="#"><i class="ti ti-home"></i></a></li>
      <li><a href="#">User</a></li>
      <li class="active">basic profile</li>
    </ol>
    <!-- /Breadcrumb --> 

    <!-- hlinks -->
    <ul class="page-links pull-right hlinks hlinks-icons color-icons-borders color-icons-bg-hovered">
      <li><a href="#"><i class="icon fa fa-facebook"></i></a></li>
      <li><a href="#"><i class="icon fa fa-twitter"></i></a></li>
      <li><a href="#"><i class="icon fa fa-rss"></i></a></li>
    </ul>
    <!-- /hlinks -->

  </div>
  <!-- /Container -->

</section>
<!-- /Page Info  Block
============================================-->

<!-- Content Block
============================================-->
<section class="content-block default-bg">

  <!-- Container -->
  <div class="container cont-pad-t-sm">

    <!-- Row -->
    <div class="row">

      <!-- Main Col -->
      <div class="main-col col-sm-8 col-md-8 mgb-30-xs">
        <h4><%= @user.username %></h4>


          <table class="table table-striped">
            <p id="notice"><%= notice %></p>

            <tr>
              <td><strong>Primary User:</strong></td>
              <td><%= @user.first_name %> <%= @user.last_name %></td>
            </tr>

            <tr>
              <td><strong>Secondary User:</strong></td>
              <td><%= @user.first_name_2 %> <%= @user.last_name_2 %></td>
            </tr>

            <tr>
              <td><strong>Email:</strong></td>
              <td><%= @user.email %></td>
            </tr>

            <tr>
              <td><strong>Email 2:</strong></td>
              <td><%= @user.email_2 %></td>
            </tr>

            <tr>
              <td><strong>Phone:</strong></td>
              <td><%= @user.phone %></td>
            </tr>

            <tr>
              <td><strong>Phone 2:</strong></td>
              <td><%= @user.phone_2 %></td>
            </tr>

            <tr>
              <td><strong>Address:</strong></td>
              <td><%= @user.address %></td>
            </tr>

            <tr>
              <td><strong>City, State Zip:</strong></td>
              <td><%= @user.city %>, <%= @user.state %> <%= @user.zip %></td>
            </tr>
            
          </table>
          <%= link_to 'Edit Basic User Information', edit_user_path(@user), class: "btn btn-info btn-sm" %>

          <br>
          <% if @registry %>
          <h4>Active Registry: <%= @registry.type_of_event %></h4>
          <table class="table table-striped">
            <tr>
              <td><strong>Event date:</strong></td>
              <td><%= @registry.event_date %></td>
            </tr>

            <tr>
              <td><strong>Registry close date:</strong></td>
              <td><%= @registry.registry_close_date %></td>
            </tr>
            <tr>
              <td><strong>Story:</strong></td>
              <td><%= @registry.story %></td>
            </tr>

            <tr>
              <td><strong>Event website:</strong></td>
              <td><%= @registry.event_website %></td>
            </tr>
            <tr>
              <td><strong>Delivery instructions:</strong></td>
              <td><%= @registry.delivery_instructions %></td>
            </tr>

            <tr>
              <td><strong>Notes:</strong></td>
              <td><%= @registry.notes %></td>
            </tr>

            <tr>
              <td><strong>Publish:</strong></td>
              <td><%= @registry.publish %></td>
            </tr>
          </table>

          <%= link_to 'Edit Registry', edit_user_registry_path(id: @registry.id, user_id: @user.id), class: "btn btn-info btn-sm" %>
          

        <% else %>

        <%= link_to "Create a New Registry", new_user_registry_path(user_id: @user.id), class: "btn btn-primary btn-block" %>   
        <% end %>
        <br><br>

          <%= link_to 'All Registries', registries_path %> | <%= link_to 'All Users', users_path %> 
      </div>
      <!-- /Main Col -->
      
      <!-- Side Col -->
      <div class="side-col side-col-padded col-sm-4 col-md-4">

        <!-- Side Widget -->
        <div class="side-widget">
        
          <h5 class="boxed-title">page topics</h5>
          
          <ul class="ul-toggle">
            <li><a href="#"><i class="icon fa fa-angle-right"></i>About our company</a><i class="toggler ti ti-plus"></i>
              <ul>
                <li><a href="#"><i class="icon fa fa-angle-right"></i>First Topic Link</a></li>
                <li><a href="#"><i class="icon fa fa-angle-right"></i>Second Topic Link</a></li>
                <li><a href="#"><i class="icon fa fa-angle-right"></i>Third Topic Link</a></li>
              </ul>
            </li>
            <li><a href="#"><i class="icon fa fa-angle-right"></i>Our Mission & Vision</a><i class="toggler ti ti-plus"></i>
              <ul>
                <li><a href="#">First Topic Link</a></li>
                <li><a href="#">Second Topic Link</a></li>
                <li><a href="#">Third Topic Link</a></li>
              </ul>
            </li>
            <li><a href="#"><i class="icon fa fa-angle-right"></i>Clients and case studies</a><i class="toggler ti ti-plus"></i>
              <ul>
                <li><a href="#">First Topic Link</a></li>
                <li><a href="#">Second Topic Link</a></li>
                <li><a href="#">Third Topic Link</a></li>
              </ul>
            </li>
            <li><a href="#"><i class="icon fa fa-angle-right"></i>Our portfolio</a></li>
            <li><a href="#"><i class="icon fa fa-angle-right"></i>Price Plans</a></li>
          </ul>
          
        </div>
        <!-- /Side Widget -->
        
        <!-- Side Widget -->
        <div class="side-widget">
        
          <h5 class="boxed-title">recent posts</h5>
          
          <ul class="vlinks vlinks-iconed vlinks-ruled-dots vlinks-lg">
            <li><img src="images/thumb1.jpg" alt="" class="img"><a class="title" href="blog-post.html">New blog post</a><span class="meta"><i class="icon-left fa fa-comments"></i>5 comments</span></li>
            <li><img src="images/thumb2.jpg" alt="" class="img"><a class="title" href="blog-post.html">New blog post</a><span class="meta"><i class="icon-left fa fa-comments"></i>10 comments</span></li>
            <li><img src="images/thumb3.jpg" alt="" class="img"><a class="title" href="blog-post.html">New blog post</a><span class="meta"><i class="icon-left fa fa-comments"></i>22 comments</span></li>
          </ul>
          
        </div>
        <!-- /Side Widget -->
        
      </div>
      <!-- /Side Col -->

    </div>
    <!-- /Row -->
  
  </div>
  <!-- /Container -->
  
</section>
<!-- /Content Block
============================================-->
