<!-- Side Col -->
<div class="side-col side-col-padded col-sm-3 col-md-3">

<!-- Side Widget -->
<div class="side-widget">

  <h5 class="boxed-title">Admin Options</h5>
  
  <ul class="ul-toggle">
    <li><%= link_to "Users", users_path %></li>
    <li><%= link_to "Artists", artists_path %></li>
    <li><%= link_to "All Items", items_path %></li>
    <li><%= link_to "All Registries", registries_path %></li>
    <li><%= link_to "Content", contents_path %></li>
  </ul>
  
</div>
<!-- /Side Widget -->

<!-- Side Widget -->
<div class="side-widget">

  <h5 class="boxed-title">Recent Items</h5>
  
  <ul class="vlinks vlinks-iconed vlinks-ruled-dots vlinks-lg">
    <% Item.take(3).each do |item| %>
      <li><%= image_tag item.image_2.thumb, class: "img" %><%= link_to item.name, item_path(item.id) %><span class="meta"><i class="icon-left fa fa-comments"></i>Date added: <%= item.created_at %></span></li>
    <% end %>
  </ul>
  
</div>
<!-- /Side Widget -->

</div>
<!-- /Side Col -->



