  <!-- product -->
  <div class="product clearfix">
  
    <!-- Image -->
    <div class="image"> 
      <%= link_to (image_tag item.image_1.try(:small)), item_path(item.id), class: "main", alt: "" %>
    </div>
    <!-- Image -->

    <span class="label label-sale"><%= link_to "Add to Registry", registry_item_add_item_path(item_id: item.id, registry_id: current_user.registries.first.id), :method => :post if current_user && current_user.registries.first %></span>
    
    <!-- Details -->
    <div class="details">
    
      <%= link_to item.name, item_path(item.id), class: "title" %>
      <p>Artist: <%= link_to item.artist.primary_identifier, artist_path(item.artist_id) %></p>
      
      
      <p class="desc"><%= item.description %></p>
      
      <!-- Price Box -->
      <div class="price-box">
        <span class="price"><%= number_to_currency(item.price) %></span>
      </div>
      <!-- /Price Box -->
      
      <!-- buttons -->
      <div class="btn-group">
        <a class="btn btn-outline btn-base-hover" href="cart.html">add to cart</a>  
        <a class="btn btn-outline btn-default-hover" href="product.html"><i class="icon fa fa-heart"></i></a>
      </div> 
      <!-- /buttons -->
      
    </div>
    <!-- /Details -->
    
  </div>
  <!-- /product -->
