<%= form_for @registry, url: user_registries_path(user_id: @user.id), html: {class: "form-horizontal"} do |f| %>
  <% if @registry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@registry.errors.count, "error") %> prohibited this registry from being saved:</h2>

      <ul>
      <% @registry.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :type_of_event, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
    <%= f.text_field :type_of_event, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :event_date, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
    <%= f.date_select :event_date, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :registry_close_date, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
    <%= f.date_select :registry_close_date, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :story, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
    <%= f.text_area :story, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :event_website, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
    <%= f.text_field :event_website, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :delivery_instructions, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
    <%= f.text_area :delivery_instructions, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :notes, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
    <%= f.text_area :notes, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :publish, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
    <%= f.check_box :publish, class: "form-control" %>
    </div>
  </div>

  <%= f.hidden_field :user_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :submit, class: "col-sm-3 control-label" %>
    <div class="col-sm-8">
    <%= f.submit class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>
