<!-- Empty Block (use .abs-filler to fill page)
================================================== -->
<div class="empty-block abs-filler">
  <!-- Vcenter -->
  <div class="vcenter">
    <div class="vcenter-this">
      <!-- Container -->
      <div class="container">
        <!-- Form Panel -->
        <div class="form-panel width-33pc width-100pc-xs hcenter">
          <header>Sign In</header>
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: {class: "form-horizontal"}) do |f| %>
            <div class="form-group">
              <%= f.label :username, class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
              <%= f.text_field :username, autofocus: true, class: "form-control", placeholder: "Enter your User Name" %>
              </div>
            </div>

            <div class="form-group">
              <%= f.label :password, class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
              <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Enter your Password" %>
              </div>
            </div>

            <% if devise_mapping.rememberable? -%>
              <div class="form-group">
                <div class= "col-sm-3 control-label"></div>
                <div class="col-sm-9">
                <%= f.check_box :remember_me, class: "form-control" %> Remember Me
                </div>
              </div>
            <% end -%>

            <div class="form-group">
              <%= f.label :submit, class: "col-sm-3 control-label" %>
              <div class="col-sm-9">
              <%= f.submit "Sign in", class: "btn btn-primary btn-block" %><br />
              <%= render "devise/shared/links" %>
              </div>
            </div>
          <% end %>
          </div>
        <!-- /Form Panel -->
        <div class="align-center">Need an Account? <a href="#">Sign Up</a></div>
      </div>
      <!-- /Container -->
    </div>
    <!-- /Vcenter this -->
  </div>
  <!-- /Vcenter -->
</div>
<!-- /Empty Block
================================================== -->
    
