<%= form_for(@item, html: {class: "form-horizontal"}) do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
    <%= f.text_field :name, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :artist_id, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
    <%= f.text_field :artist_id, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :category, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
    <%= collection_check_boxes(:product, :category_id, Category.all, :id, :name) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :medium, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
    <%= collection_check_boxes(:product, :medium_id, Medium.all, :id, :name) %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :description, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
    <%= f.text_area :description, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :price, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
    <%= f.text_field :price, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :item_availability_id, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
    <%= f.collection_select :item_availability_id, ItemAvailability.all, :id, :name, id: "item-availability", include_blank: true, data: { placeholder: "Choose an Option"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :quantity, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
    <%= f.number_field :quantity, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :special_order, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
    <%= f.check_box :special_order, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :turn_around_time, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
    <%= f.text_field :turn_around_time, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :production_category_id, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
    <%= f.collection_select :production_category_id, ProductionCategory.all, :id, :name, id: "production-category", include_blank: true, data: { placeholder: "Choose an Option"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :delivery_timing_id, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
    <%= f.collection_select :delivery_timing_id, DeliveryTiming.all, :id, :name, id: "delivery-timing", include_blank: true, data: { placeholder: "Choose an Option"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :shipping_instruction_id, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
    <%= f.collection_select :shipping_instruction_id, ShippingInstruction.all, :id, :name, id: "shipping-instruction", include_blank: true, data: { placeholder: "Choose an Option"} %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :notes, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
    <%= f.text_area :notes, class: "form-control" %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :submit, class: "col-sm-3 control-label" %>
    <div class="col-sm-9">
    <%= f.submit class: "btn btn-primary btn-block" %>
    </div>
  </div>
<% end %>
