<!-- Content Block
============================================-->
<section class="content-block default-bg">

  <!-- Container -->
  <div class="container cont-pad-t-sm">

    <!-- Row -->
    <div class="row">

      <!-- Main Col -->
      <div class="main-col col-sm-8 col-md-8 mgb-30-xs">
        <h4>Items</h4>
        <div class="panel panel-default">
          <div class="panel-heading">
              <h4 class="panel-title">All</h4>
          </div>
          <div class="panel-body">
            <table class="table table-striped">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Artist</th>
                  <th>Price</th>
                  <th>Item availability</th>
                  <th>Quantity</th>
                  <th>Production category</th>
                  <th></th>
                </tr>
              </thead>

              <tbody>
                <% @items.each do |item| %>
                  <tr>
                    <td><%= item.name %></td>
                    <td><%= link_to item.artist.primary_identifier, artist_path(item.artist.id) %></td>
                    <td><%= number_to_currency(item.price) %></td>
                    <td><%= item.item_availability.try(:name) %></td>
                    <td><%= item.quantity %></td>
                    <td><%= item.production_category.try(:name) %></td>
                    <td><%= link_to 'Show', item %> <%= link_to 'Edit', edit_item_path(item) %> <%= link_to 'Destroy', item, method: :delete, data: { confirm: 'Are you sure?' } %></td>
                  </tr>
                <% end %>
              </tbody>
            </table>

            <br>

            <%= link_to 'New Item', new_item_path %>
          </div>
        </div>
              
      </div>
      <!-- /Main Col -->
      
      <%= render "pages/admin_side_bar" %>

    </div>
    <!-- /Row -->
  
  </div>
  <!-- /Container -->
  
</section>
<!-- /Content Block
============================================-->