<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!--SEO Meta Tags-->
    <meta name="keywords" content="responsive html5 template, e-commerce, shop, bootstrap 3.0, css, jquery, flat, modern" />
    <meta name="description" content="">
    <meta name="author" content="">
  
  <title>Gather Art Registry</title>

    <!--Favicon-->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="icon" href="favicon.ico" type="image/x-icon">
  
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  </head>

  <body class="preload tile-1-bg">
  
    <!-- Preloader 
    ============================================ -->
    <div class="page-preloader">
      <div class="vcenter"> <div class="vcenter-this"><img class="anim" src="images/loader.gif" alt="loading..." /></div></div>
    </div>
    <!-- /Preloader 
    ============================================ --> 
    
    <!-- Page Wrapper
    ++++++++++++++++++++++++++++++++++++++++++++ -->
    <div class="page-wrapper shadow">

      <!-- Header Block
      ============================================== -->
      <header class="header-block">

        <!-- Nav Top
        ............................................. -->
        <nav class="nav-top hnav hnav-sm hnav-borderless invert-colors bcolor-bg">
        
          <!-- Container -->
          <div class="container">
            
            <!-- Collapse -->
            <div class="collapse navbar-collapse navbar-absolute">
            
              <p class="navbar-text navbar-center">
                <% if user_signed_in? %>
                  Logged in as <%= current_user.username %>.
                <% else %>
                  Welcome to our store. Login or registration is required to shop.
                  <% end %>
              </p>
              
            </div>
            <!-- /Collapse -->
            
            <!-- Dont Collapse -->
            <div class="navbar-dont-collapse no-toggle">

              <!-- Navbar Left -->
              <ul class="nav navbar-nav navbar-left case-c">
                <li><a href="index.html"><i class="icon-left fa fa-fax"></i>Hotline : + 254 560 890 340</a></li>
              </ul>
              <!-- /Navbar Left -->
              
              <!-- Navbar Right -->
              <ul class="nav navbar-nav case-u navbar-right">
                <li><a href="#"><i class="icon fa fa-facebook"></i></a></li>
                <li><a href="#"><i class="icon fa fa-twitter"></i></a></li>
                <li><a href="#"><i class="icon fa fa-pinterest"></i></a></li>
              </ul>
              <!-- /Navbar right -->

            </div>
            <!-- /Dont Collapse -->
          
          </div>
          <!-- /Container -->
          
        </nav>
        <!-- /Nav Top
        ............................................ -->
      
        <!-- Main Header
        ............................................ -->
        <div class="main-header container">
        
          <!-- Header Cols -->
          <div class="header-cols"> 
          
            <!-- Brand Col -->
            <div class="brand-col hidden-xs">
            
              <!-- vcenter -->
              <div class="vcenter">
                <!-- v-centered -->               
                <div class="vcenter-this">
                    <%= image_tag "logo.png", size: "120x120", alt: "Gather Art Registry" %>
                </div>
                <!-- v-centered -->
              </div>
              <!-- vcenter -->

            </div>
            <!-- /Brand Col -->

            <!-- Right Col -->
            <div class="right-col">
            
              <!-- vcenter -->
              <div class="vcenter">
              
                <!-- v-centered -->
                <div class="vcenter-this">

                  <!-- Nav Side -->
                  <nav class="nav-side navbar hnav hnav-sm hnav-borderless" role="navigation">
                  
                    <!-- Dont Collapse -->
                    <div class="navbar-dont-collapse no-toggle">
                    
                      <!-- Nav Right -->
                      <ul class="nav navbar-nav navbar-right navbar-center-xs">
                        <% if user_signed_in? %>
                        <li class="dropdown has-panel">
                          <%= link_to "<i class='icon-left ti ti-pencil-alt'></i><span> EDIT PROFILE</span>".html_safe, edit_user_registration_path %></li>
                          <li><%= link_to "<i class='icon-left ti ti-pencil-alt'></i><span> LOG OUT</span>".html_safe, destroy_user_session_path, method: :delete %> 
                        <% else %>
                          <%= link_to "<i class='icon-left ti ti-user'></i><span> LOG IN</span>".html_safe, new_user_session_path %>
                        </li>
                        
                        <li class="dropdown has-panel">
                          <%= link_to "<i class='icon-left ti ti-pencil-alt'></i><span> REGISTER</span>".html_safe, new_user_registration_path %>
                        <% end %>
                          
                        </li>
                      </ul>
                      <!-- /Nav Right-->

                    </div>
                    <!-- /Dont Collapse -->
                    
                  </nav>
                  <!-- /Nav Side -->
                
                </div>
                <!-- /v-centered -->
              </div>
              <!-- /vcenter -->
              
            </div>
            <!-- /Right Col -->
            
            <!-- Left Col -->
            <div class="left-col">
            
              <!-- vcenter -->
              <div class="vcenter">
                
                <!-- v-centered -->               
                <div class="vcenter-this">
                  
                  <form class="header-search">
                    <div class="form-group">
                      <input class="form-control" placeholder="SEARCH" type="text">
                      <button class="btn btn-empty"><i class="fa fa-search"></i></button>
                    </div>
                  </form>

                </div>
                <!-- v-centered -->
                
              </div>
              <!-- vcenter -->
            
            </div>
            <!-- /Left Col -->
          </div>
          <!-- Header Cols -->
        
        </div>
        <!-- /Main Header
        .............................................. -->
        
        <!-- Nav Bottom
        .............................................. -->
        <nav class="nav-bottom hnav hnav-ruled white-bg boxed-section">
        
          <!-- Container -->
          <div class="container">
          
            <!-- Header-->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle no-border" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <i class="fa fa-navicon"></i>
              </button>
              <a class="navbar-brand visible-xs" href="#"><img src="images/logo-xs.png" alt="H"></a>
            </div>
            <!-- /Header-->
          
            <!-- Collapse -->
            <div class="collapse navbar-collapse navbar-absolute">
            
              <!-- Navbar Center -->
              <ul class="nav navbar-nav navbar-center line-top line-bcolor case-u">
                <li class="active"><%= link_to "Home", root_path %></li>
                <li><%= link_to "About", pages_about_path %></li>
                <li><a href="footers.html">Featured</a></li>
                <li class="dropdown dropdown-mega"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Categories<i class="fa fa-angle-down toggler"></i></a>
                  <!-- Mega Menu -->
                  <div class="mega-menu dropdown-menu">
                    <!-- Row -->
                    <div class="row">
                    
                      <!-- col -->
                      <div class="col-md-3">
                        <img class="featured-img hidden-xs hidden-sm" src="images/menu-pic.jpg" alt="">
                      </div>
                      <!-- /col -->
                      
                      <!-- col -->
                      <div class="col-md-3">
                        <h5>For the Home</h5>
                        <ul class="links">
                          <li><a href="category.html">category</a></li>
                        </ul>
                      </div>
                      <!-- /col -->
                      
                      <!-- col -->
                      <div class="col-md-3">
                        <h5>Mediums</h5>
                        <ul class="links">
                          <li><a href="page.html">Typical Page</a></li>
                        </ul>
                      </div>
                      <!-- /col -->
                      
                      <!-- col -->
                      <div class="col-md-3">
                        <h5>Special Events</h5>
                        <ul class="links">
                          <li><a href="blog.html">blog</a></li>
                        </ul>
                      </div>
                      <!-- /col -->
                    </div>
                    <!-- /Row -->
                  </div>
                  <!-- /Mega Menu -->
                </li>
                <li class="dropdown">
                
                <%= link_to "<span> Artists</span><i class='fa fa-angle-down toggler'></i>".html_safe, artists_path, class: "dropdown-toggle", data_toggle: 'dropdown' %>
                  <ul class="dropdown-menu">
                    <li><a href="uikit/index.html">Elements + Modules</a></li>
                    <li><a href="uikit/index.html#bxslider.demo?viewer=ajax">Sliders</a></li>
                    <li><a href="uikit/index.html#animations.demo?viewer=ajax">Animations</a></li>
                  </ul>
                </li>
              </ul>
              <!-- /Navbar Center -->
              
            </div>
            <!-- /Collapse -->
            
            <!-- Dont Collapse -->
            <div class="navbar-dont-collapse">

              <!-- Navbar btn-group -->
              <div class="navbar-btn-group btn-group navbar-right no-margin-r-xs">
              
                <!-- Btn Wrapper -->
                <div class="btn-wrapper dropdown">
                
                  <a class="btn btn-outline" data-toggle="dropdown"><i class="ti-plus"></i></a>
                  
                  <!-- Dropdown Menu -->
                  <ul class="dropdown-menu">
                    <li><a href="#">account home</a></li>
                    <li><a href="#">order history</a></li>
                     <li><a href="#">profile</a></li>
                  </ul>
                  <!-- /Dropdown Menu -->
                  
                </div>
                <!-- /Btn Wrapper -->

                <!-- Btn Wrapper -->
                <div class="btn-wrapper dropdown">
                
                  <a aria-expanded="false" class="btn btn-outline" data-toggle="dropdown"><b class="count count-round">2</b><i class="ti ti-bag"></i></a>
                  
                    <!-- Dropdown Panel -->
                    <div class="dropdown-menu dropdown-panel dropdown-right" data-keep-open="true">
                      <section>
                        <!-- Mini Cart -->
                        <ul class="mini-cart">
                          <!-- Item -->
                          <li class="clearfix">
                            <img src="images/products/product1.jpg" alt="">
                            <div class="text">
                              <a class="title" href="#">Modern black hat</a>
                              <div class="details">2 x $40.50
                                <div class="btn-group">
                                  <a class="btn btn-primary" href="#"><i class="fa fa-pencil"></i></a>
                                  <a class="btn btn-default" href="#"><i class="fa fa-trash"></i></a>
                                </div>
                              </div>
                            </div>
                          </li>
                          <!-- /Item -->
                          
                          <!-- Item -->
                          <li class="clearfix">
                            <img src="images/products/product2.jpg" alt="">
                            <div class="text">
                              <a class="title" href="#">Sexy lace blouse</a>
                              <div class="details">1 x $95.00
                                <div class="btn-group">
                                  <a class="btn btn-primary" href="#"><i class="fa fa-pencil"></i></a>
                                  <a class="btn btn-default" href="#"><i class="fa fa-trash"></i></a>
                                </div>
                              </div>
                            </div>
                          </li>
                          <!-- /Item -->
                        </ul>
                        <!-- /Mini Cart -->
                      </section>
                      
                      <section>
                        <div class="row grid-10">
                          <div class="col-md-6">
                            <a class="btn btn-base btn-block margin-y-5" href="cart.html">view cart</a>
                          </div>
                          <div class="col-md-6">
                            <a class="btn btn-primary btn-block margin-y-5" href="checkout.html">checkout</a>
                          </div>
                        </div>
                      </section>
                    </div>
                    <!-- /Dropdown Panel -->
                  
                </div>
                <!-- /Btn Wrapper -->

              </div>
              <!-- /Navbar btn-group -->
              
            </div>
            <!-- /Dont Collapse -->

          </div>
          <!-- /Container -->
          
        </nav>
        <!-- /Nav Bottom
        .............................................. -->
        
      </header>
      <!-- /Header Block
      ============================================== -->
     <%= notice %><%= alert %>

<%= yield %>
		
		</div>
  	
    <!-- Footer
    =================================================== -->
    <footer class="footer-block white-bg">
    
      <!-- Container -->
      <div class="container cont-top clearfix">
      
        <!-- Row -->
        <div class="row">
        
          <!-- Brand -->
          <div class="col-md-3 brand-col brand-center">
            <div class="vcenter">
              <a class="vcenter-this" href="#">
                <%= image_tag "logo.png", size: "150x150", alt: "logo" %>
              </a>
            </div>
          </div>
          <!-- /Brand -->
          
          <!-- Links -->
          <div class="col-md-9 links-col">
          
            <!-- Row -->
            <div class="row-fluid">
            
              <!-- Col -->
              <div class="col-xs-6 col-sm-6 col-md-6">
                <h5>About us</h5>
                <p>Helena is a freelance fashion designer who specialises in print designs and combining fabrics. My designs have been sold all over the world.</p>
                  <!-- hlinks -->
                  <ul class="hlinks hlinks-icons color-icons-borders color-icons-bg color-icons-hovered">
                    <li><a href="#"><i class="icon fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="icon fa fa-twitter"></i></a></li>
                    <li><a href="#"><i class="icon fa fa-rss"></i></a></li>
                    <li><a href="#"><i class="icon fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="icon fa fa-instagram"></i></a></li>
                    <li><a href="#"><i class="icon fa fa-youtube"></i></a></li>
                  </ul>
                  <!-- /hlinks -->              
              </div>
              <!-- /Col -->
              
              <!-- Col -->
              <div class="col-xs-6 col-sm-3 col-md-3">
                <h5>Admin Views</h5>
                <ul class="vlinks">
                  <li><%= link_to "Users", users_path %></li>
                  <li><%= link_to "Artists", artists_path %></li>
                  <li><%= link_to "All Items", items_path %></li>
                  <li><%= link_to "All Registries", registries_path %></li>
                </ul>
              </div>
              <!-- /Col -->
              
              <!-- Col -->
              <div class="col-xs-6 col-sm-3 col-md-3 newsletter">
                <h5>newsletter</h5>
                <form>
                  <input type="text" class="form-control" placeholder="Email Address">
                  <button class="btn btn-outline outline-white" type="button">get newsletter</button>
                </form>
              </div>
              <!-- /Col -->
              
           </div>
           <!-- /Row -->
           
          </div>
          <!-- /Links -->
          
        </div>
        <!-- /Row -->
        
      </div>
      <!-- /Container -->
      
      <!-- Bottom -->
      <div class="footer-bottom bcolor-bg invert-colors">
      
        <!-- Container -->
        <div class="container">
        
          <span class="copy-text">© 2015 Gather Art Registry.</span>
          <!-- hlinks -->
          <ul class="hlinks pull-right">
            <li><%= link_to "About", pages_about_path %></li>
            <li><%= link_to "Terms of Service", pages_terms_of_service_path %></li>
            <li><%= link_to "Privacy Policy", pages_privacy_policy_path %></li>
          </ul>
          <!-- /hlinks -->
          
        </div>
        <!-- /Container -->
        
      </div>
      <!-- /Bottom -->
      
    </footer>
    <!-- /Footer
    =================================================== -->

	</body>
</html>
